@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:url("../fonts/raleway/raleway-800.woff2") format("woff2")
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url("../fonts/rubik/rubik-400.woff2") format("woff2")
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:url("../fonts/rubik/rubik-700.woff2") format("woff2")
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:url("../fonts/rubik/rubik-800.woff2") format("woff2")
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/*
basik-black                   #000000
basik-dark                    #444444
basik-gray                    #dcdcdc
basik-light-gray              #ebebeb
basik-light                   #f0f0f0
basik-white                   #ffffff
special-yellow-light          #ffe17f
special-yellow-dark-hover     #ffc700
special-purple                #af4fff
status-error                  #ff3d3d
status-warning                #fd912e
status-success                #08af00
*/
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

.navigation-list,
.catalog-list,
.advantages-list,
.categories-list,
.breadcrumbs,
.catalog-filter-list,
.product-list,
.pagination,
.footer-social-list,
.slider-pagination{
  List-style: none;
}

.navigation-link,
.catalog-toggle-link,
.breadcrumbs-link,
.product-card-link,
.pagination-link{
  color:inherit;
  text-decoration: none;
}

.page-header{
  display: flex;
  flex-direction: column;
  width: 1160px;
  height: 140px;
  margin:13px auto 0;
}

.logo-link{
  margin-top: 4.4px;
  margin-left: 60px;
}

.user-menu,
.main-menu{
  display: flex;
  width: 1040px;
  margin:0px auto;
}

.user-menu{
  margin-bottom: 30px;;
}

.main-menu{
  justify-content: space-between;
  height: 50px;
}

.search-form{
display:flex;
align-items: center;
margin-right: 26px;
}

.search-wrapper{
  display:flex;
  align-items: center;
  box-sizing: border-box;
  width: 359px;
  height: 40px;
  margin-right: -2px;
  padding: 0;

  border: 2px solid #000000;
  border-right: 0px;
  border-radius: 50px 0px 0px 50px;
}

.search-form-label{
 padding: 12px 14px 12px 16px;
}

.search-form-icon{
  display: block;
}

.search-input{
  width: 295px;
  padding: 0;

  font-family: Rubik;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color:#000000;

  background-color: inherit;
  border: none;
  outline: none;
}

.search-input::placeholder {
  font-family: Rubik;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color:#000000;

  opacity: 0.3;
}

.search-button{
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  padding: 0;

  font-family: Rubik;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color:#000000;

  background-color: inherit;
  border: 2px solid #000000;
  border-radius: 0px 20px 20px 0px;
}

.navigation-list{
  display: flex;
  margin: auto 0;
  padding: 0;
}

.header-login{
  width: 231px;
  height: 30px;
  margin-right: 26px;
}

.header-compare{
  width: 105px;
  height: 30px;
  margin-right: 26px;
}

.header-basket{
  width: 117px;
  height: 30px;
}

.navigation-link{
  display: flex;
  margin: auto 0;
}

.navigation-link span{
  margin: auto 0;
}

.navigation-link-icon{
  display: block;
  margin-top: auto;
  margin-right: 12px;
  margin-bottom: auto;
}

.icon-login{
  padding: 0px 1px;
}

.icon-cart{
  margin-left: -9px;
  padding: 1.5px 0 5.5px 3px;
}

.basket-status{
  z-index: 1;

  display: flex;
  width:21px;
  height:21px;
  margin: auto 0;

  font-size: 14px;
  line-height: 16.6px;
  text-align: center;

  background-color: #ffffff;
  border-radius: 50%;
}


.main-navigation{
  display: flex;
  width: 471px;
}

.header-delivery{
  margin-right: 47px;
}

.header-warranty{
  margin-right: 45px;
}

.main-container{
  flex-grow: 1;
  }

.catalog-toggle-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 293px;
  height: 50px;
  margin: auto 0;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


.catalog-toggle-wrapper{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}


.catalog-item-category{
  font-size: 16px;
  line-height: 18px;
}

.slider-wrapper,
.goods-slider{
  position: relative;
}

.goods-slider::before {
  content: "01";
  position: absolute;
  top: 0;
  left: 861px;
  z-index: -1;

  width: 250px;
  height: 135px;

  font-family: "Rubik", sans-serif;
  font-size: 180px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.slider-wrapper::before {
  content: "";
  position: absolute;
  bottom: 410px;
  left: 0;
  z-index: -2;

  width: 1160px;
  height: 300px;

  background-color: #ffe17f;
}

.goods-slider-header{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.goods-slider-button{
  position: relative;

  width:210px;
  height:20px;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color:#000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.goods-slider-button::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -5px;
  z-index: -1;

  width: 220px;
  height: 8px;

  background-color: #ffe17f;
}

.slider-prev{
  width: 20px;
  height: 60px;

  background-color: transparent;
  background-image: url(../images/slider/icon-arrow-left.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}
.slider-next{
  width: 20px;
  height: 60px;

  background-color: transparent;
  background-image: url(../images/slider/icon-arrow-right.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.slider-pagination-button{
  width: 12px;
  height: 12px;
  padding:0;

  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slider-pagination-button-current{
  background-color: #000000;
}

.feature-title{
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.feature-definition{
  font-size: 36px;
  line-height: 30px;
}

.categories-link-icon{
  background-color: #ffe17f;
}

.categories-link{
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-weight: 800;
  color:#000000;
  text-decoration: none;
}

.advantages{
  position: relative;

  width:1440px;
  height:391px;
  margin-bottom: 70px;
}

.advantages::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -2;

  width: 1440px;
  height: 289px;

  background-color: #F0F0F0;
}

.advantages-link{
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color:inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.advantages-list{
  position: relative;
}

.advantages-item{
width:160px;
height:20px;
padding: 9px 120px 11px 0;
}

.advantages-item-current{
  color:#ffe17f;

  background-color: #000000;
}
.advantage-feature-title{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.advantage-feature-definition{
  line-height: 30px;
  color: #444444;
}

.rare-goods-delivery{
  width:1160;
  height:100px;

  background-color: #F0F0F0;
}

.rare-goods-icon{
  padding: 35px 39px 34px;

  background-color:#ffe17f ;
}

.rare-goods-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23.5px;
  font-weight: 800;
  color:#000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.about-us,
.contacts{
  position: relative;

  color: #444444;
}

.about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 84px;
  height: 7px;

  background-color: #000000;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 84px;
  height: 7px;

  background-color:#000000;
}

.about-us-title,
.contacts-title{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.transport-companies-list{
  line-height: 20px;
  font-weight: 700;
  color:#000000;
}

.transport-companies-list li::marker{
  color:#ffe17f;
}

.about-us-link{
  position:relative;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.about-us-link::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
  z-index: -1;

  width: 270px;
  height: 8px;

  background-color: #ffe17f;
}

.contacts-link{
  position:relative;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.contacts-link::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
  z-index: -1;

  width: 259px;
  height: 8px;

  background-color: #ffe17f;
}

.contacts-subtitle{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.contacts-phone{
  color: inherit;
}

.newsletter {
  background-color:#F0F0F0 ;
}

.newsletter-title{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.newsletter p{
  color: #444444;
}

.subscribe-button{
   /* Блочная модель */
  width: 175px;
  height: 21px;
  padding: 15px 36px;
   /* Типографика */
  font-family: Raleway;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
   /* Оформление */
  border: 3px solid #CECECE;
}

.page-footer{
  color: #ffffff;

  background-color:#444444;
}
.footer-adress{
  font-family: Rubik;
  font-size: 16px;
  line-height: 19px;
}
.navigation-menu{
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.footer-phone{
  font-size: 16px;
  line-height: 20px;
  color:inherit;
}
.footer-social-item .button{
  display:block;
  width: 40px;
  height:40px;

  background-color:rgba(255, 255, 255, 0.3);
}
.button-facebook{
  background:no-repeat center url(../images/icons/icon-facebook.svg);
}

.button-instagram{
  background:no-repeat center url(../images/icons/icon-instagram.svg);
}

.button-twitter{
  background:no-repeat center url(../images/icons/icon-twitter.svg);
}

.academy-button{
  display:block;
  width:115px;
  height:33px;

  background:no-repeat center url(../images/logo-html-academy.svg);
}

.catalog-header{
  position:relative;
}

.catalog-header::before {
  content: "";
  position: absolute;
  top: -186px;
  left: 0;
  z-index: -1;

  width: 1160px;
  height: 186px;

  background-color: #ffe17f;
}

.catalog-header-title{
  font-family: Raleway;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 19px;
}

.catalog-products{
  background-color:#F0F0F0;
}

.products-wrapper{
  background-color:#ffffff;
}

.pagination{
  background-color:#F0F0F0;
}
.catalog-filter-header,
.catalog-sorting-header{
  font-family: Raleway;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.catalog-filter-title{
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}
.control-input{
  font-size: 16px;
  line-height: 19px;
}
.button-show{
  position:relative;

  padding: 0;

  font-family: Raleway;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border: none;
}

.button-show::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
  z-index: -1;

  width: 220px;
  height: 8px;

  background-color: #ffe17f;
}

.values{
  font-size: 15px;
  line-height: 18px;

  opacity: 0.3;
}

.select-control{
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  color: inherit;

  background-color: transparent;
  border: none;
}

.product-card-title{
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.product-card-price{
  font-size: 18px;
  line-height: 21px;
  color:#444444;
}

.pagination-show-more{
  width: 760px;
  height: 55px;
  padding:0;

  font-family: Raleway;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #ffffff;
  border: 3px solid #E5E5E5;
}

.pagination-link{
  font-size: 16px;
  line-height: 20px;
  color: #444444;

  opacity: 0.3;
}

.pagination-prev,
.pagination-next{
  display: flex;
  align-items: center;

  font-family: Raleway;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  opacity: 1.0;
}
