@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:url("fonts\raleway\raleway-800.woff2") format("woff2")
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url("fonts\rubik\rubik-400.woff2") format("woff2")
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:url("fonts\rubik\rubik-700.woff2") format("woff2")
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:url("fonts\rubik\rubik-800.woff2") format("woff2")
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
basik-black                   #000000
basik-dark                    #444444
basik-gray                    #dcdcdc
basik-light-gray              #ebebeb
basik-light                   #f0f0f0
basik-white                   #ffffff
special-yellow-light          #ffe17f
special-yellow-dark-hover     #ffc700
special-purple                #af4fff
status-error                  #ff3d3d
status-warning                #fd912e
status-success                #08af00
*/

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.navigation-list,
.catalog-list,
.advantages-list,
.categories-list,
.breadcrumbs,
.catalog-filter-list,
.product-list,
.pagination,
.footer-social-list,
.slider-pagination{
  List-style: none;
}

.navigation-link,
.catalog-toggle-link,
.breadcrumbs-link,
.product-card-link,
.pagination-link{
  text-decoration: none;
  color:inherit;
}

.basket-status{
  width:21px;
  height:21px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 14px;
  line-height: 17px;
}

.catalog-toggle-link,
.main-navigation{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.catalog-item-category{
  font-size: 16px;
  line-height: 18px;
}

.slider-wrapper,
.goods-slider{
  position: relative;
}

.goods-slider::before {
  content: "01";
  position: absolute;
  top: 0;
  left: 861px;
  width: 250px;
  height: 135px;
  font-family: "Rubik", sans-serif;
  font-size: 180px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  z-index: -1;
}

.slider-wrapper::before {
  content: "";
  position: absolute;
  bottom: 410px;
  left: 0;
  width: 1160px;
  height: 300px;
  background-color: #ffe17f;
  z-index: -2;
}

.goods-slider-header{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.goods-slider-button{
  width:210px;
  height:20px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color:#000000;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
}

.goods-slider-button::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -5px;
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}

.slider-pagination-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding:0;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;
}
.slider-pagination-button-current{
  background-color: #000000;
}

.feature-title{
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.feature-definition{
  font-size: 36px;
  line-height: 30px;
}

.categories-link-icon{
  background-color: #ffe17f;
}

.categories-link{
  text-decoration: none;
  color:#000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
}

.advantages{
  position: relative;
  height:391px;
  width:1440px;
  margin-bottom: 70px;
}

.advantages::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 1440px;
  height: 289px;
  background-color: #F0F0F0;
  z-index: -2;
}

.advantages-link{
  text-decoration: none;
  color:inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.advantages-list{
  position: relative;
}

.advantages-item{
width:160px;
height:20px;
padding: 9px 120px 11px 0;
}

.advantages-item-current{
  color:#ffe17f;
  background-color: #000000;
}
.advantage-feature-title{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.advantage-feature-definition{
  line-height: 30px;
  color: #444444;
}

.rare-goods-delivery{
  height:100px;
  width:1160;
  background-color: #F0F0F0;
}

.rare-goods-icon{
  padding: 35px 39px 34px;
  background-color:#ffe17f ;
}

.rare-goods-link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23.5px;
  letter-spacing: 0.2em;
  color:#000000;
}

.about-us,
.contacts{
  color: #444444;
  position: relative;
}

.about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
  z-index: -1;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color:#000000;
  z-index: -1;
}

.about-us-title,
.contacts-title{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.transport-companies-list{
  color:#000000;
  line-height: 20px;
  font-weight: 700;
}

.transport-companies-list li::marker{
  color:#ffe17f;
}

.about-us-link{
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  position:relative;
}

.about-us-link::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
  width: 270px;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}

.contacts-link{
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  position:relative;
}

.contacts-link::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
  width: 259px;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}

.contacts-subtitle{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.contacts-phone{
  color: inherit;
}

.newsletter {
  background-color:#F0F0F0 ;
}

.newsletter-title{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.newsletter p{
  color: #444444;
}

.subscribe-button{
   /* Блочная модель */
  width: 175px;
  height: 21px;
  padding: 15px 36px;
   /* Типографика */
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
   /* Оформление */
  border: 3px solid #CECECE;
}

.page-footer{
  background-color:#444444 ;
  color: #ffffff;
}
.footer-adress{
  font-family: Rubik;
  font-size: 16px;
  line-height: 19px;
}
.navigation-list{
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.footer-phone{
  font-size: 16px;
  line-height: 20px;
  color:inherit;
}
.footer-social-item .button{
  display:block;
  height:40px;
  width: 40px;
  background-color:rgba(255, 255, 255, 0.3);
}
.button-facebook{
  background:no-repeat center url(images\icons\icon-facebook.svg) ;
}

.button-instagram{
  background:no-repeat center url(images\icons\icon-instagram.svg) ;
}

.button-twitter{
  background:no-repeat center url(images\icons\icon-twitter.svg) ;
}

.academy-button{
  display:block;
  width:115px;
  height:33px;
  background:no-repeat center url(images\logo-html-academy.svg) ;
}

.catalog-header{
  position:relative;
}

.catalog-header::before {
  content: "";
  position: absolute;
  top: -186px;
  left: 0;
  width: 1160px;
  height: 186px;
  background-color: #ffe17f;
  z-index: -1;
}

.catalog-header-title{
  font-family: Raleway;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 19px;
}

.catalog-products{
  background-color:#F0F0F0;
}

.products-wrapper{
  background-color:#ffffff;
}

.pagination{
  background-color:#F0F0F0;
}
.catalog-filter-header,
.catalog-sorting-header{
  font-family: Raleway;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.catalog-filter-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.control-input{
  font-size: 16px;
  line-height: 19px;
}
.button-show{
  position:relative;
  padding: 0;
  border: none;
  color: inherit;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button-show::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}

.values{
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.select-control{
  padding: 0;
  border: none;
  color: inherit;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
}

.product-card-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-price{
  font-size: 18px;
  line-height: 21px;
  color:#444444;
}

.pagination-show-more{
  width: 760px;
  height: 55px;
  padding:0;
  background-color: #ffffff;
  border: 3px solid #E5E5E5;
  font-family: Raleway;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link{
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
}

.pagination-prev,
.pagination-next{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1.0;
}
